body {
    background: #fdf3ff;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #f200ff;
    border-color: #f200ff;
}

.btn-primary:hover {
    background-color: #d000dd;
    border-color: #d000dd;
}

.list-group-item {
    background-color: #f200ff;
    border: none;
    transition: all 0.2s ease;
    word-break: break-word; /* Prevents long words without spaces from breaking UI */
}

.history-item {
    background-color: #f1f8f6 !important;
    color: #495057;
    border: 1px solid #d1e7dd;
}

.fa-list-check {
    color: #f200ff;
}

.fa-check-circle {
    color: #23d5ab;
}
